.gameContainer {
    height: auto;
    margin: auto;
}

.gameBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gameBodyLeft {
    padding: 50px 5px;
    margin-top: -10rem;
}

.gameBodyRight {
    transform: scale(0.5);
    margin-top: -5rem;
    margin-left: 5rem;
}

.count {
    font-weight: 600;
    margin-top: 1rem;
}