.wordLetterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: tan;
    margin: 2px;
    text-transform: uppercase;
    padding: 0.5rem;
    font-weight: 700;
}